html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
main {
  height: 100vh;

  background-color: crimson;
}

h1 {
  background-color: pink;
  font-size: 45px;
  padding: 13px;
  margin-top: 10px;
  text-align: center;
}
.jokes-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
.jokes-wrapper {
  margin-top: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: pink;
  padding: 4rem;
  border-radius: 4px;
  box-shadow: 10px -5px 177px 0px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 10px -5px 177px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 10px -5px 177px 0px rgba(0, 0, 0, 0.54);
}
.random-jokes-label {
  font-size: 4rem;
  margin-bottom: 60px;
}
@media (max-width: 500px) {
  .random-jokes-label {
    font-size: 1.5rem;
    margin-bottom: 60px;
  }
}

#random-jokes {
  padding: 20px;
  width: 100%;
  outline: none;
}

.btn {
  padding-inline: 13px;
  padding-block: 8px;
  margin-top: 7px;
}

.btn:hover {
  cursor: pointer;
}

.span {
  padding: 40px;
  font-size: 1rem;
}
.form {
  display: flex;
  width: 270px;
  border-radius: 12px;
  overflow: hidden;
}
.input {
  width: 75%;
  padding: 0.8rem;
  outline: none;
  border: none;
}
.input-btn {
  border: none;
  padding: 0.8rem;
}
